.container {
    width: 100%;
    height: 100vh;
    background-color: var(--blue);

    display: flex;
}

.container > img {
    margin: 5.3rem 0;
}

.section {
    margin-top: 12rem;
    margin-left: 8rem;

    display: flex;
    flex-direction: column;
}

.section > img {
    margin-bottom: 6.4rem;

    width: 24rem;
}

.section strong {
    color: var(--white);

    font-size: 2.4rem;

    margin-bottom: 1.6rem;
}

.section > p {
    margin-bottom: 2.7rem;

    width: 26rem;

    font-size: 1.3rem;
    font-weight: 500;

    line-height: 2rem;

    color: var(--text-highlight);
}

.inputBox {
    display: flex;

    width: 28rem;
    height: 5.3rem;
}

.inputBox input {
    flex: 1;

    border: 0;
    outline: 0;

    background: linear-gradient(to right, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    color: var(--white);

    font-size: 1.3rem;
    font-weight: 400;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 1.53rem 2rem;

}

.inputBox input:hover {
    border: 1.5px solid #414AA3;
}


.inputBox input::placeholder {
    color: var(--text-highlight);
}

.inputBox button {
    width: 5.3rem;

    background-color: var(--blue-dark);
    
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
}

.inputBox button:hover {
    background-color: var(--green);
}

.inputBox button img {
    height: 1.6rem;
}

@media screen and (min-width: 1920px) {
    .section {
        margin-top: 15rem;
        margin-left: 20rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        
        min-height: 100%;

        padding-bottom: 5rem;
    }

    .container > img {
        display: none;
    }

    .section {
        margin: 0;
        margin-top: 2rem;

        padding: 5rem 2rem;

        height: 100%;
    }

    .section img {
        width: 18rem;

        align-self: center;
    }

    .section strong {
        font-size: 1.8rem;
    }

    .section > p {
        font-size: 1.1rem;

        padding: 0;

        width: auto;
    }

    .inputBox {
        width: 100%;

        margin-top: 3.6rem;

        height: 4.3rem;
    }

    .inputBox input {
        width: 3rem;

        padding: 1rem;

        font-size: 1.15rem;
    }

    .inputBox button {
        width: 4rem;
    }

    .inputBox button img {
        height: 1.4rem;
    }
}

@media screen and (min-width:601px) and (max-width: 1366px) {
    .container > img {
        width: 28rem;
    }

    .section {
        margin-top: 9rem;
        margin-left: 6rem;
    }
}
